<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, quasi magnam
    quos dicta laborum corporis blanditiis suscipit culpa, iusto, tempora beatae
    aut velit et repellendus voluptas molestiae? Dolorem, omnis ab.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, quasi magnam
    quos dicta laborum corporis blanditiis suscipit culpa, iusto, tempora beatae
    aut velit et repellendus voluptas molestiae? Dolorem, omnis ab.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, quasi magnam
    quos dicta laborum corporis blanditiis suscipit culpa, iusto, tempora beatae
    aut velit et repellendus voluptas molestiae? Dolorem, omnis ab.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, quasi magnam
    quos dicta laborum corporis blanditiis suscipit culpa, iusto, tempora beatae
    aut velit et repellendus voluptas molestiae? Dolorem, omnis ab.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, quasi magnam
    quos dicta laborum corporis blanditiis suscipit culpa, iusto, tempora beatae
    aut velit et repellendus voluptas molestiae? Dolorem, omnis ab.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, quasi magnam
    quos dicta laborum corporis blanditiis suscipit culpa, iusto, tempora beatae
    aut velit et repellendus voluptas molestiae? Dolorem, omnis ab.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, quasi magnam
    quos dicta laborum corporis blanditiis suscipit culpa, iusto, tempora beatae
    aut velit et repellendus voluptas molestiae? Dolorem, omnis ab.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, quasi magnam
    quos dicta laborum corporis blanditiis suscipit culpa, iusto, tempora beatae
    aut velit et repellendus voluptas molestiae? Dolorem, omnis ab.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, quasi magnam
    quos dicta laborum corporis blanditiis suscipit culpa, iusto, tempora beatae
    aut velit et repellendus voluptas molestiae? Dolorem, omnis ab.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, quasi magnam
    quos dicta laborum corporis blanditiis suscipit culpa, iusto, tempora beatae
    aut velit et repellendus voluptas molestiae? Dolorem, omnis ab.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, quasi magnam
    quos dicta laborum corporis blanditiis suscipit culpa, iusto, tempora beatae
    aut velit et repellendus voluptas molestiae? Dolorem, omnis ab.
  </p>
</main>
